footer {
  padding: 7%;
  color: white;
  background: var(--grey-dark);
  p {
    font-family: Shrikhand;
    font-size: large;
    color: white;
  }
  a {
    color: white;
    &:hover {
      color: var(--pink);
    }
    &:active {
      color: var(--violet-dark);
    }
  }
  ul {
    padding-left: 0;
    line-height: 30px;
    list-style: none;
  }
  i {
    margin-right: 5px;
  }
}
