:root {
  background: white;
  --grey-light1: #f6f6f6;
  --grey-light2: #eaeaea;
  --grey-light3: #c6c6c6;
  --grey-medium: #6a6a6a;
  --grey-dark: #353535;
  --pink: #ff79da;
  --violet-light:  #f5edff;
  --violet-dark: rgb(147, 86, 220);
  --green-light: #99e2d0;
  --green-dark: #008766;
  font-family: Roboto;
  font-size: medium;
  font-weight: 400;
  color: black;
}

body {
  box-sizing: border-box;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-weight: 300;
}

h3 {
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  z-index: 2;
  box-shadow: 0 3px 8px var(--grey-light3);
  background: white;
  * {
    padding: 15px 10px 5px 10px;
  }
  .back {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: x-large;
    color: var(--grey-dark);
    &:hover .fa{
      color: var(--violet-dark);
    }
    &:active .fa{
      color: var(--pink);
    }
  }
  .logo img {
    position: relative;
    margin-left: 22%;
    width: 50%;
  }
}
