main {
  padding-top : 80px;
  margin: 0;
}

/* SHADOWS */
.btn, .card {
  box-shadow: 2px 5px 8px 0px var(--grey-light2);
  &:hover {
    box-shadow: 2px 5px 8px 0px var(--grey-light3);

  }
}


/* ASIDE */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.position {
  text-align: center;
  font-size: large;
  font-weight: 600;
  padding: 16px 0;
  width: 100%;
  color: var(--grey-dark);
  background: var(--grey-light2);
  * {
    margin: 5px;
  }
}

.suggestion {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 15% 0;
  width: 100%;
  background: var(--grey-light1);
  h1 {
    margin: 0 10%;
  }
  h2 {
    margin: 5%;
  }
  .btn {
    margin-top: 5%;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: 85vw;
  margin: 7%;
  padding-bottom: 5%;
}


/* BTN */
.btn {
  padding: 20px 60px;
  border-radius: 30px;
  font-size: large;
  font-weight: 600;
}

.btn_fadepink {
  color: var(--violet-light);
  background: linear-gradient(167deg, var(--pink), var(--violet-dark));
  box-shadow: 2px 5px 8px 0px var(--grey-light3);
  &:hover {
    color: white;
    box-shadow: 2px 5px 8px 0px var(--grey-medium);
  }
}

.btn_shrink {
  width: fit-content;
}

/* FONCTIONNEMENT BTN */
.fonctionnement {
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .btn {
    position: relative;
    left: 2%;
    margin: 20px 0;
    padding: 30px 0;
  }
}

.btn_light {
  background: var(--grey-light1);
  counter-increment: step-counter;
  .btn_ico {
    position: relative;
    left: 5%;
    color: var(--grey-medium);
  }
  .btn_txt {
    position: relative;
    left: 10%;
  }
  &:hover {
    background: var(--violet-light);
    .btn_ico {
      color: var(--violet-dark);
    }
  }
}

.btn_light::before {
  content: counter(step-counter);
  padding: 5px 10px;
  margin-left: -15px;
  border-radius: 50%;
  color: white;
  background: var(--violet-dark);
}


/* SECTION */
section {
  padding: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background: var(--grey-light1);
  height: 100%;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: white;
  width: 100%;
  height: 250px;
  transition: all .3s;
  &:hover {
    transform: scale(1.02);
  }
  &:active {
    transform: scale(1);
  }
  .card-image {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;
    overflow: hidden;
    .new {
      position: absolute;
      top: 10%;
      right: 5%;
      padding: 5px 10px;
      border-radius: 3px;
      font-weight: 600;
      color: var(--green-dark);
      background: var(--green-light);
    }
    img {
      border-radius: 15px 15px 0 0;
      width: 100%;
    }
  }
  .card-body {
    display: flex;
    justify-content:space-between;
    height: 20%;
    margin: 10px;
    .card-title {
      font-size: large;
      font-weight: 600;
    }
    p {
      line-height: 0;
      font-weight: 300;
      font-size: large;
    }
  }
}

.rating {
  padding: 5px 10px;
  font-size: x-large;
  color: var(--grey-medium);
  position: relative;
  .fas {
    display: none;
    transition: all .5s;
  }
  &:hover {
    .far {display: none;}
    .fas {
      cursor: pointer;
      display: inline;
      background: linear-gradient(25deg, transparent 25%, var(--pink) 50%, var(--violet-dark) 100%);
      /* Set the background size and repeat properties. */
      background-size: 300%;
      background-repeat: repeat;
      animation: fade 1s forwards;
      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg.*/
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      background-clip: text;
    }
    @keyframes fade {
      100% {
        background-position: right;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: white;
    width: 100%;
    height: 250px;
    transition: all .3s;
    &:hover {
      transform: scale(1.02);
    }
    &:active {
      transform: scale(1);
    }
    .card-image {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 80%;
      overflow: hidden;
      .new {
        position: absolute;
        top: 10%;
        right: 5%;
        padding: 5px 10px;
        border-radius: 3px;
        font-weight: 600;
        color: var(--green-dark);
        background: var(--green-light);
      }
      img {
        border-radius: 15px 15px 0 0;
        width: 100%;
      }
    }
    .card-body {
      display: flex;
      justify-content:space-between;
      height: 20%;
      margin: 10px;
      .card-title {
        font-size: large;
        font-weight: 600;
      }
      p {
        line-height: 0;
        font-weight: 300;
        font-size: large;
      }
    }
  }
}