/* SHADOWS */
.btn, .card {
  -webkit-box-shadow: 2px 5px 8px 0px var(--grey-light2);
          box-shadow: 2px 5px 8px 0px var(--grey-light2);
}

.btn:hover, .card:hover {
  -webkit-box-shadow: 2px 5px 8px 0px var(--grey-light3);
          box-shadow: 2px 5px 8px 0px var(--grey-light3);
}

/* ASIDE */
aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position {
  text-align: center;
  font-size: large;
  font-weight: 600;
  padding: 16px 0;
  width: 100%;
  color: var(--grey-dark);
  background: var(--grey-light2);
}

.position * {
  margin: 5px;
}

.suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0;
  width: 100%;
  background: var(--grey-light1);
}

.suggestion h1 {
  margin: 0 30px;
}

.suggestion h2 {
  margin: 20px;
}

.suggestion .btn {
  margin-top: 5%;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 85%;
  padding: 5% 0;
}

/* GLOBAL BTN */
.btn {
  padding: 20px 60px;
  border-radius: 30px;
  font-size: large;
  font-weight: 600;
}

.btn_fadepink {
  color: var(--violet-light);
  background: linear-gradient(167deg, var(--pink), var(--violet-dark));
  -webkit-box-shadow: 2px 5px 8px 0px var(--grey-light3);
          box-shadow: 2px 5px 8px 0px var(--grey-light3);
}

.btn_fadepink:hover {
  color: white;
  -webkit-box-shadow: 2px 5px 8px 0px var(--grey-medium);
          box-shadow: 2px 5px 8px 0px var(--grey-medium);
}

.btn_shrink {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

/* FONCTIONNEMENT BTN */
.fonctionnement ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fonctionnement .btn {
  position: relative;
  left: 2%;
  margin: 20px 0;
  padding: 30px 0;
}

.btn_light {
  background: var(--grey-light1);
  counter-increment: step-counter;
}

.btn_light .btn_ico {
  position: relative;
  left: 5%;
  color: var(--grey-medium);
}

.btn_light .btn_txt {
  position: relative;
  left: 10%;
}

.btn_light:hover {
  background: var(--violet-light);
}

.btn_light:hover .btn_ico {
  color: var(--violet-dark);
}

.btn_light::before {
  content: counter(step-counter);
  padding: 5px 10px;
  margin-left: -15px;
  border-radius: 50%;
  color: white;
  background: var(--violet-dark);
}

/* SECTION */
.restaurants {
  padding: 20px 20px 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  background: var(--grey-light1);
  height: 100%;
  margin: 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  background: white;
  width: 100%;
  height: 250px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.card:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card .card-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  overflow: hidden;
}

.card .card-image .new {
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;
  color: var(--green-dark);
  background: var(--green-light);
}

.card .card-image img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20%;
  margin: 10px;
}

.card .card-body .card-title {
  font-size: large;
  font-weight: 600;
}

.card .card-body p {
  line-height: 0;
  font-weight: 300;
  font-size: large;
}

.rating {
  padding: 5px 10px;
  font-size: x-large;
  color: var(--grey-medium);
  position: relative;
}

.rating .fas {
  display: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.rating:hover .far {
  display: none;
}

.rating:hover .fas {
  cursor: pointer;
  display: inline;
  background: linear-gradient(25deg, transparent 25%, var(--pink) 50%, var(--violet-dark) 100%);
  /* Set the background size and repeat properties. */
  background-size: 300%;
  background-repeat: repeat;
  -webkit-animation: fade 1s forwards;
          animation: fade 1s forwards;
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg.*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-clip: text;
}

@-webkit-keyframes fade {
  100% {
    background-position: right;
  }
}

@keyframes fade {
  100% {
    background-position: right;
  }
}

@media screen and (min-width: 769px) {
  .fonctionnement h3 {
    text-align: center;
  }
  .restaurants {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .restaurants h3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  header, main, footer {
    width: 1200px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */