/* hide content during loading */
main, footer {
  transform: translateY(-9999px);
  height: 0;
  opacity: 0;
  animation: showMain .1s ease-in 3s forwards;
}

@keyframes showMain {
  100% {
    transform: translateY(0);
    height: auto;
    opacity: 1;
  }
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --violet-spinner: rgba(147,86,220,.3);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--grey-light2);
  animation: hideSpinner .5s ease-in 3s forwards;
  p {
  font-family: Shrikhand;
  line-height: 0;
  }
  .fad {
    font-size: xx-large;
  }
  .fa-cheeseburger {
    position: relative;
    animation: jump 1s  .1s infinite;
  }
  .fa-salad {
    position: relative;
    animation: jump 1.3s .3s infinite;
  }
  .fa-steak {
    animation: jump .7s .2s infinite;
  }
}

.loader div {
display: block;
position: absolute;
width: 200px;
height: 200px;
margin: 8px;
border: 30px solid #fff;
border-radius: 50%;
animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
border-color: var(--violet-spinner) transparent transparent transparent;
}
.loader div:nth-child(1) {
animation-delay: -0.45s;
}
.loader div:nth-child(2) {
animation-delay: -0.3s;
}
.loader div:nth-child(3) {
animation-delay: -0.15s;
}


@keyframes loader {
  0% {
  transform: rotate(0deg);
  }
  100% {
  transform: rotate(360deg);
  }
}

@keyframes jump {
  0% {
    top: 10px;
  }
  30% {
    top: -15px;
  }
  50% {
    top: 10px;
  }
  80% {
    top: -5px;
  }
}

@keyframes hideSpinner {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
    top: -100%;
  }
}